{% extends "account/base.html" %}

{% block title %}
  Sign Out - Litigant Portal
{% endblock title %}

{% block auth_content %}
  <c-molecules.auth-status
    icon="arrow-right-start-on-rectangle"
    icon_class="text-greyscale-400"
    heading="Sign out"
    description="Are you sure you want to sign out?"
  >
    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      <div class="flex flex-col sm:flex-row gap-3 justify-center">
        <c-atoms.button href="{% url 'portal:home' %}" variant="outline" class="w-full sm:w-auto justify-center">
        Cancel
        </c-atoms.button>
        <c-atoms.button type="submit" variant="primary" class="justify-center">
        Sign out
        </c-atoms.button>
      </div>
    </form>
  </c-molecules.auth-status>
{% endblock auth_content %}
