{% extends "account/base.html" %}
{% load i18n %}
{% block title %}
  {% trans "Password Reset Complete" %} - {% trans "Litigant Portal" %}
{% endblock title %}
{% block auth_content %}
  {% trans "Password reset complete" as status_heading %}
  {% trans "Your password has been changed successfully. You can now sign in with your new password." as status_description %}
  <c-molecules.auth-status
    icon="check-circle"
    icon_style="solid"
    icon_class="text-green-500"
    heading="{{ status_heading }}"
    description="{{ status_description }}"
  >
    <c-atoms.button href="{% url 'account_login' %}" variant="primary" size="xl" full_width class="justify-center">
    {% trans "Sign in" %}
    </c-atoms.button>
  </c-molecules.auth-status>
{% endblock auth_content %}