{% load i18n %}

{% trans "What do you need help with?" as default_placeholder %}
<c-vars placeholder="{{ default_placeholder }}" action="" method="get" />
<form action="{{ action }}"
      method="{{ method }}"
      class="search-bar {{ class }}"
      role="search"
      {{ attrs }}>
  <c-atoms.search-input placeholder="{{ placeholder }}" name="q" />
  <c-atoms.button type="submit" variant="primary" size="xl" aria_label="Search">
  <c-atoms.icon name="magnifying-glass" class="w-5 h-5" />
  <span class="hidden sm:inline">{% trans "Search" %}</span>
  </c-atoms.button>
</form>
