{% extends "pages/info_base.html" %}

{% load i18n %}

{% block title %}
  {% trans "Accessibility" %} - {% trans "Litigant Portal" %}
{% endblock title %}

{% block meta_description %}
  {% trans "Accessibility statement for the Litigant Portal: we design and test to WCAG 2.2 Level AA." %}
{% endblock meta_description %}

{% block page_heading %}
  {% trans "Accessibility" %}
{% endblock page_heading %}

{% block lede %}
  {% trans "Access to justice is not complete until it is also fully accessible." %}
{% endblock lede %}

{% block page_body %}
  <section>
    <c-atoms.section-heading>{% trans "Our commitment" %}</c-atoms.section-heading>
    <p>{% trans "Everyone should be able to use this portal, including with a keyboard, a screen reader, or on any device. We design and test to WCAG 2.2 Level AA." %}</p>
    <p>
      <c-atoms.link href="https://www.w3.org/TR/WCAG22/" target="_blank">{% trans "WCAG 2.2" %}</c-atoms.link>
    </p>
  </section>
  <section>
    <c-atoms.section-heading>{% trans "Tell us" %}</c-atoms.section-heading>
    <p>
      {% trans "If something is hard for you to use, tell us:" %}
      <c-atoms.link href="mailto:info@free.law">info@free.law</c-atoms.link>
    </p>
  </section>
{% endblock page_body %}
