# Docker Whitelist
*

# Python project files
!pyproject.toml
!uv.lock
!README.md
!LICENSE

# Application code
!litigant_portal/

# Docker files
!docker/

# Ignore within allowed directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/.DS_Store
