{% load static i18n %}

<c-vars sticky="" />
<header class="mobile-header flex-shrink-0 {% if sticky %}mobile-header-sticky{% endif %} {{ class }}"
        {{ attrs }}>
  <div class="mobile-header-inner">
    <a href="{% url 'pages:home' %}" aria-label="{% trans "Home" %}">
      <img src="{% static 'images/logo_powered.svg' %}"
           alt="{% trans "Litigant Portal – Powered by Free Law Project" %}"
           class="h-12">
    </a>
    <div class="flex items-center gap-1 sm:gap-2">
      <c-molecules.user-menu class="hidden sm:flex" />
    </div>
  </div>
</header>
