<c-vars placeholder="Search..." />
<div class="search-input-wrapper">
  <c-atoms.icon name="magnifying-glass" class="search-input-icon" />
  <input type="search"
         {% if id %}id="{{ id }}"{% endif %}
         {% if name %}name="{{ name }}"{% endif %}
         placeholder="{{ placeholder }}"
         {% if disabled %}disabled{% endif %}
         {% if aria_label %}aria-label="{{ aria_label }}"{% else %}aria-label="{{ placeholder }}"{% endif %}
         class="search-input {{ class }}"
         {{ attrs }} />
</div>
