<c-vars variant="info" />

{# Alert variants: info|success|warning|danger #}
{# --- Base --- #}
{% with base="px-4 py-3 text-base rounded-lg border" %}
{# --- Variants --- #}
{% with v_success="bg-green-100 text-green-700 border-green-500" v_warning="text-yellow-700 bg-yellow-50 border-yellow-400" v_danger="bg-red-100 text-red-700 border-red-500" v_info="bg-brand-100 text-brand-700 border-brand-300" %}
<div role="alert"
     class="{{ base }} {% if variant == 'success' %}{{ v_success }}{% elif variant == 'warning' %}{{ v_warning }}{% elif variant == 'danger' %}{{ v_danger }}{% else %}{{ v_info }}{% endif %} {{ class }}"
     {{ attrs }}>{{ slot }}
</div>
{% endwith %}
{% endwith %}